## Tipi di dati e conversioni

Abbiamo costruito espressioni che potevano avere come valore:
- una stringa di testo, e.g., `"Ciao"`;
- un numero intero, e.g., `23` ;
- un numero con parte decimale, e.g., `23.1534`.

In Python il valore di ogni espressione ha un *tipo* ovvero fa parte di una 
famiglia di valori che hanno caratteristiche in comune. Fino ad ora abbiamo 
visto i seguenti tipi.

- Il tipo `str` delle stringhe di testo.
- Il tipo `int` dei numeri interi (precisione infinita).
- Il tipo `float` dei numeri decimali (precisione limitata).

Il tipo di un dato indica **in quali espressioni e contesti** quel dato può 
essere utilizzato.

**Esempi:**
- l'operatore `+` può essere usato mischiando `int` e `float`;
- l'operatore `+` può essere usato tra `str` e `str`;
- l'operatore `+` **non** può essere usato tra `str` e `int`;
- l'operatore `*` può essere usato tra `str` e `int`;
- l'operatore `*` **non** può essere usato tra `str` e `str`;
- la funzione `len` applicata ad un parametro `str` produce un `int`.

Nel caso in cui viene effettuata un'operazione su dati del tipo sbagliato, 
Python segnala un `TypeError`. Provate gli esempi descriti.

In [1]:
"ciao"*3

'ciaociaociao'

In [2]:
1 + 4 + len("abcdefg") + 4.2 + 5

21.2

In [5]:
"ciao" * "ciao"

TypeError: can't multiply sequence by non-int of type 'str'

In [3]:
max(23, 12.4, 1)

23

In [4]:
max(12, 'aa')

TypeError: '>' not supported between instances of 'str' and 'int'

Osservate che *alcune operazioni* cambiano di comportamento a seconda dei tipi
ai quali vengono applicate. Ad esempio la moltiplicazione

In [7]:
4 * 4

16

In [6]:
'quattro' * 4

'quattroquattroquattroquattro'

## Conversione di tipi

Consideriamo la stringa `"12.54"`. Questa è un dato di tipo `str`, e dal punto
di vista formale non è che l'elenco dei caratteri `'1'`, `'2'`, `'.'`, `'5'` e `'4'`.

Non ha nulla a che vedere con un dato di tipo `float`, eppure è possibile convertire
questa stringa in un numero di tipo `float`. Python ha
delle funzioni per convertire **quando possibile** un valore 
verso un dato tipo

- `float` trasforma qualcosa in un numero decimale;
- `int` trasforma qualcosa in un intero;
- `str` trasforma qualcosa in una stringa.

Come vedete le funzioni di conversione hanno lo stesso nome dei tipi verso cui
convertono.

**Esempi di conversioni verso interi**

In [ ]:
int(4.9)

In [ ]:
int(1246.346)

In [ ]:
int(4.0)

In [ ]:
int("1000")

In [ ]:
int("100" + "000")  + 23

In [ ]:
int("la vispa teresa")

In [ ]:
int("12.905")

In [ ]:
float(412)

In [ ]:
float("12.42")  - 0.21

In [ ]:
float("1242")

In [ ]:
float("la vispa teresa")

**Esempi di conversione verso stringa**

In [ ]:
str(132892)

In [ ]:
str(13) + str(4)

In [ ]:
str(13 + 4)

In [ ]:
str(-14.5)

### Riassumendo

Abbiamo visto 
- che ogni dato ha un **tipo**
- gli operatori e le funzioni si **comportano** diversamete a seconda dei tipi
- l'uso di tipi incompatibili **causa errore**
- è possibile **convertire** un dato in un dato di tipo diverso